{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Email Update {% endblock %}

{% block page_content %}
<p>Dear {{ current_user.username }},</p>
<p>To confirm your new email address <a href="{{ url_for('auth.change_email_request', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.change_email', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Flasky Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}